<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="main-content">
    <div class="container-fluid"> 
      <div class="content" style="width:65%;  margin: 0 auto; margin-top: 20px;">
          <div class="row" >
              <div  class="col-md-12 col-lg-12 col-xl-12">
                    <button  (click)="downloadPdf()" class="btn btn-primary pull-right"  name="submit" type="submit" > Download Pdf </button>
                 
              </div>
            </div>
            <div id="container" style="padding: 25px;">
                <div class="row" >
                    <div class="col-md-12 col-lg-12 col-xl-12">
                     <h1>PDF Download Example</h1>
                    </div>
                  </div>
            <div class="row" >
              <div class="col-md-6 col-lg-6 col-xl-6">
                <img alt="Home" src="../assets/angular.jpg" title="Home" >
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <table style="width:100%">
                  <tr>
                    <th>Firstname</th>
                    <th>Lastname</th> 
                    <th>Age</th>
                  </tr>
                  <tr>
                    <td>Will</td>
                    <td>Smith</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                  </tr>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>80</td>
                  </tr>
                  <tr>
                      <td>Tom</td>
                      <td>Cruise</td>
                      <td>56</td>
                    </tr>
                    <tr>
                      <td>Brad</td>
                      <td>Pitt</td>
                      <td>55</td>
                    </tr>
                    <tr>
                      <td>Johnny</td>
                      <td>Depp</td>
                      <td>55</td>
                    </tr>
                </table>
                </div>
            </div>
            </div>
       

    </div>
    </div>
  </div>
</div>


